* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
    height: 90%;
    overflow: hidden;
  }

  #backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 10%;
    min-height: 10%;
    z-index: -1;
    height: auto;
    width: auto;
    
}
  .card {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
  }
  .add-task{
   width: 100%;
   max-width: 540px;
   background: rgba(255, 255, 255, 0.656);
   margin: 80px auto 20px;
   padding: 30px 30px 60px;
   border-radius: 10px;
  }
  .add-task h2{
    color: rgba(4, 128, 76, 0.826);
    align-items: center;
    margin-bottom: 20px;
    margin-top: none;
}

.add-task img{
    width: 30px;
    margin-left:10px
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d5cfd3;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom: 25px;
    margin-top: 10px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;  
}
button{
    background-color:#067d47;
    border: none;
    outline: none;
    padding: 16px 50px;
    color:white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/to-do/unchecked.png);
background-size: cover;
background-position: center;
top: 12px;
left: 8px;
}
ul li.checked{
color:rgba(4, 118, 74, 0.826);
text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/to-do/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px
    font-size:22px;
    color:rgba(38, 104, 247, 0.826);
    line-height:40px;
    text-align:center;
    border-radius:50%;
}
ul li span:hover{
    background: #edeef0;
}
